<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doinner.csys.dao.CourseDomainRefSourceUnitMapper">

    <resultMap type="CourseDomainRefSourceUnit" id="CourseDomainRefSourceUnitResult">
            <result property="domainId" column="domain_id"/>
            <result property="unitId" column="unit_id"/>
            <result property="courseId" column="course_id"/>
        <result property="collegeId" column="college_Id"/>
        <result property="categoryId" column="category_Id"/>
        <result property="majorId" column="major_Id"/>
        <result property="courseTargetId" column="course_target_Id"/>
    </resultMap>

    <sql id="selectCourseDomainRefSourceUnitVo">
        select domain_id, unit_id,course_id,college_Id,category_Id,major_Id,course_target_Id
        from t_csys_course_domain_ref_source_unit
    </sql>

    <select id="selectCourseDomainRefSourceUnitList" parameterType="CourseDomainRefSourceUnit" resultMap="CourseDomainRefSourceUnitResult">
        <include refid="selectCourseDomainRefSourceUnitVo"/>
        <where>
                        <if test="domainId != null ">
                            and domain_id = #{domainId}
                        </if>
                        <if test="unitId != null ">
                            and unit_id = #{unitId}
                        </if>
            <if test="courseId != null ">
                and course_Id = #{courseId}
            </if>
            <if test="collegeId != null ">
                and college_Id = #{collegeId}
            </if>
            <if test="categoryId != null ">
                and category_Id = #{categoryId}
            </if>
            <if test="majorId != null ">
                and major_Id = #{majorId}
            </if>
        </where>
    </select>

    <select id="selectCourseDomainRefSourceUnitByDomainId" parameterType="Long"
            resultMap="CourseDomainRefSourceUnitResult">
            <include refid="selectCourseDomainRefSourceUnitVo"/>
            where domain_id = #{domainId}
    </select>

    <select id="selectCourseDomainRefSourceUnitByUnitIds" parameterType="Long"
            resultMap="CourseDomainRefSourceUnitResult">
        <include refid="selectCourseDomainRefSourceUnitVo"/>
        where unit_id in
        <foreach item="unitId" collection="array" open="(" separator="," close=")">
            #{unitId}
        </foreach>
    </select>

    <insert id="insertCourseDomainRefSourceUnit" parameterType="CourseDomainRefSourceUnit">
        insert into t_csys_course_domain_ref_source_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="domainId != null">domain_id,
                    </if>
                    <if test="unitId != null">unit_id,
                    </if>
            <if test="courseId != null">course_Id,
            </if>
            <if test="collegeId != null">college_Id,
            </if>
            <if test="categoryId != null">category_Id,
            </if>
            <if test="majorId != null">major_Id,
            </if>
            <if test="courseTargetId != null">course_target_Id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="domainId != null">#{domainId},
                    </if>
                    <if test="unitId != null">#{unitId},
                    </if>
            <if test="courseId != null">#{courseId},
            </if>
            <if test="collegeId != null">#{collegeId},
            </if>
            <if test="categoryId != null">#{categoryId},
            </if>
            <if test="majorId != null">#{majorId},
            </if>
            <if test="courseTargetId != null">#{courseTargetId},
            </if>
        </trim>
    </insert>

    <update id="updateCourseDomainRefSourceUnit" parameterType="CourseDomainRefSourceUnit">
        update t_csys_course_domain_ref_source_unit
        <trim prefix="SET" suffixOverrides=",">
                    <if test="unitId != null">unit_id =
                        #{unitId},
                    </if>
        </trim>
        where domain_id = #{domainId}
    </update>

    <delete id="deleteCourseDomainRefSourceUnitByDomainId" parameterType="Long">
        delete
        from t_csys_course_domain_ref_source_unit where domain_id = #{domainId}
    </delete>

    <delete id="deleteCourseDomainRefSourceUnitByCourseId" parameterType="Long">
        delete
        from t_csys_course_domain_ref_source_unit where course_id = #{courseId}
        <if test="courseTargetId != null ">
            and course_Target_Id = #{courseTargetId}
        </if>
        <if test="collegeId != null ">
            and college_Id = #{collegeId}
        </if>
        <if test="categoryId != null ">
            and category_Id = #{categoryId}
        </if>
        <if test="majorId != null ">
            and major_Id = #{majorId}
        </if>
    </delete>

    <delete id="deleteCourseDomainRefSourceUnitByDomainIds" parameterType="String">
        delete from t_csys_course_domain_ref_source_unit where domain_id in
        <foreach item="domainId" collection="array" open="(" separator="," close=")">
            #{domainId}
        </foreach>
    </delete>

    <delete id="deleteByCourseIds" parameterType="Long">
        delete from t_csys_course_domain_ref_source_unit where course_id in
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>

    <select id="selectCourseTargetRefSourceUnitByCourseIds"
            resultType="com.doinner.csys.domain.CourseDomainRefSourceUnit">
        <include refid="selectCourseDomainRefSourceUnitVo"/>
        where course_id in
        <foreach item="courseId" collection="courseIds" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </select>

    <insert id="insertCourseUnitRefSourceUnitList">
        insert into t_csys_course_domain_ref_source_unit (domain_id, unit_id, course_id,
        course_target_id, college_Id, category_Id,
        major_Id)
        values
        <foreach collection="courseTargetRefUnitList" item="ref" separator=",">
            (#{ref.domainId,jdbcType=BIGINT}, #{ref.unitId,jdbcType=BIGINT}, #{ref.courseId,jdbcType=BIGINT},
            #{ref.courseTargetId,jdbcType=BIGINT}, #{ref.collegeId,jdbcType=BIGINT}, #{ref.categoryId,jdbcType=BIGINT},
            #{ref.majorId,jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>
