<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doinner.csys.dao.CourseRefGraduationMapper">

    <resultMap type="CourseRefGraduation" id="CourseRefGraduationResult">
            <result property="courseId" column="course_id"/>
            <result property="graduationId" column="graduation_id"/>
        <result property="collegeId" column="college_Id"/>
        <result property="categoryId" column="category_Id"/>
        <result property="majorId" column="major_Id"/>
        <result property="courseTargetId" column="course_target_Id"/>
    </resultMap>

    <sql id="selectCourseRefGraduationVo">
        select g.course_id, g.graduation_id,g.college_Id,g.category_Id,g.major_Id,g.course_target_Id
        from t_csys_course_ref_graduation g inner join t_csys_course c on c.id=g.course_id and c.sysflag= 0
    </sql>

    <select id="selectCourseRefGraduationList" parameterType="CourseRefGraduation" resultMap="CourseRefGraduationResult">
        <include refid="selectCourseRefGraduationVo"/>
        <where>
                        <if test="courseId != null ">
                            and course_id = #{courseId}
                        </if>
                        <if test="graduationId != null ">
                            and graduation_id = #{graduationId}
                        </if>
            <if test="collegeId != null ">
                and college_Id = #{collegeId}
            </if>
            <if test="categoryId != null ">
                and category_Id = #{categoryId}
            </if>
            <if test="majorId != null ">
                and major_Id = #{majorId}
            </if>
        </where>
    </select>

    <select id="selectCourseRefGraduationByCourseId" parameterType="Long"
            resultMap="CourseRefGraduationResult">
            <include refid="selectCourseRefGraduationVo"/>
            where course_id = #{courseId}
    </select>

    <select id="selectCourseRefGraduationByCourseTargetId" parameterType="Long"
            resultMap="CourseRefGraduationResult">
        <include refid="selectCourseRefGraduationVo"/>
        where course_target_id = #{courseId}
    </select>

    <insert id="insertCourseRefGraduation" parameterType="CourseRefGraduation">
        insert into t_csys_course_ref_graduation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="courseId != null">course_id,
                    </if>
                    <if test="graduationId != null">graduation_id,
                    </if>
            <if test="collegeId != null">college_Id,
            </if>
            <if test="categoryId != null">category_Id,
            </if>
            <if test="majorId != null">major_Id,
            </if>
            <if test="courseTargetId != null">course_target_Id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="courseId != null">#{courseId},
                    </if>
                    <if test="graduationId != null">#{graduationId},
                    </if>
            <if test="collegeId != null">#{collegeId},
            </if>
            <if test="categoryId != null">#{categoryId},
            </if>
            <if test="majorId != null">#{majorId},
            </if>
            <if test="courseTargetId != null">#{courseTargetId},
            </if>
        </trim>
    </insert>

    <update id="updateCourseRefGraduation" parameterType="CourseRefGraduation">
        update t_csys_course_ref_graduation
        <trim prefix="SET" suffixOverrides=",">
                    <if test="graduationId != null">graduation_id =
                        #{graduationId},
                    </if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteCourseRefGraduationByCourseId" parameterType="Long">
        delete
        from t_csys_course_ref_graduation where course_id = #{courseId}
    </delete>

    <delete id="deleteCourseRefGraduationByCourseIds" parameterType="String">
        delete from t_csys_course_ref_graduation where course_id in
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>

    <select id="selectRefBygraduationIds" resultType="com.doinner.csys.domain.CourseRefGraduation">
        <include refid="selectCourseRefGraduationVo"/>
        <where>
            graduation_id in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <delete id="deleteCourseRefGraduationByGraduationIds">
        delete from t_csys_course_ref_graduation where graduation_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCourseTargetRefGraduationByCourseIds" resultType="com.doinner.csys.domain.CourseRefGraduation">
        <include refid="selectCourseRefGraduationVo"/>
        where course_id in
        <foreach item="courseId" collection="courseIds" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </select>

    <insert id="insertCourseTargetRefGraduationList">
        insert into t_csys_course_ref_graduation (course_id, graduation_id, course_target_id,
        college_Id, category_Id, major_Id
        )
        values
        <foreach collection="courseTargetRefGraduationList" item="ref" separator=",">
            (#{ref.courseId,jdbcType=BIGINT}, #{ref.graduationId,jdbcType=BIGINT}, #{ref.courseTargetId,jdbcType=BIGINT},
            #{ref.collegeId,jdbcType=BIGINT}, #{ref.categoryId,jdbcType=BIGINT}, #{ref.majorId,jdbcType=BIGINT}
            )
        </foreach>

    </insert>
</mapper>
