<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doinner.csys.dao.TeachingPlanSectionMapper">

    <resultMap id="BaseResultMap" type="com.doinner.csys.domain.TeachingPlanSection">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="plan_id" property="planId" jdbcType="BIGINT"/>
        <result column="section_code" property="sectionCode" jdbcType="VARCHAR"/>
        <result column="section_title" property="sectionTitle" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sysflag" property="sysflag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, plan_id, section_code, section_title, content, sort,
        creator, create_time, last_modifier, last_modified_time, remark, sysflag
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_csys_teaching_plan_section (
            plan_id, section_code, section_title, content, sort,
            creator, create_time, last_modifier, last_modified_time, remark, sysflag
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.planId}, #{item.sectionCode}, #{item.sectionTitle}, #{item.content}, #{item.sort},
                #{item.creator}, #{item.createTime}, #{item.lastModifier}, #{item.lastModifiedTime},
                #{item.remark}, #{item.sysflag}
            )
        </foreach>
    </insert>

    <select id="selectByPlanId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_csys_teaching_plan_section
        WHERE plan_id = #{planId}
          AND sysflag = 0
        ORDER BY sort ASC, id ASC
    </select>

    <select id="selectByPlanIdAndTitle" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_csys_teaching_plan_section
        WHERE plan_id = #{planId}
          AND sysflag = 0
          AND section_title = #{sectionTitle}
        ORDER BY id ASC
        LIMIT 1
    </select>

    <update id="deleteByPlanId">
        UPDATE t_csys_teaching_plan_section SET sysflag = 2 WHERE plan_id = #{planId}
    </update>

    <insert id="insert" parameterType="com.doinner.csys.domain.TeachingPlanSection"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_csys_teaching_plan_section
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="sectionCode != null">section_code,</if>
            <if test="sectionTitle != null">section_title,</if>
            <if test="content != null">content,</if>
            <if test="sort != null">sort,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lastModifier != null">last_modifier,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
            <if test="remark != null">remark,</if>
            <if test="sysflag != null">sysflag,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="sectionCode != null">#{sectionCode},</if>
            <if test="sectionTitle != null">#{sectionTitle},</if>
            <if test="content != null">#{content},</if>
            <if test="sort != null">#{sort},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lastModifier != null">#{lastModifier},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="sysflag != null">#{sysflag},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.doinner.csys.domain.TeachingPlanSection">
        UPDATE t_csys_teaching_plan_section
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="sectionCode != null">section_code = #{sectionCode},</if>
            <if test="sectionTitle != null">section_title = #{sectionTitle},</if>
            <if test="content != null">content = #{content},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="lastModifier != null">last_modifier = #{lastModifier},</if>
            <if test="lastModifiedTime != null">last_modified_time = #{lastModifiedTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="sysflag != null">sysflag = #{sysflag},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, plan_id, section_code, section_title, content, sort, creator, create_time, last_modifier, last_modified_time, remark, sysflag
        FROM t_csys_teaching_plan_section
        WHERE id = #{id}
          AND sysflag = 0
    </select>

    <update id="deleteById">
        UPDATE t_csys_teaching_plan_section SET sysflag = 2 WHERE id = #{id}
    </update>
</mapper>