<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doinner.csys.dao.TeachingPlanTaskBackgroundRefMapper">

    <resultMap id="BaseResultMap" type="com.doinner.csys.domain.TeachingPlanTaskBackgroundRef">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="plan_id" property="planId" jdbcType="BIGINT"/>
        <result column="task_background_id" property="taskBackgroundId" jdbcType="BIGINT"/>
        <result column="scheme_course_graduation_id" property="schemeCourseGraduationId" jdbcType="BIGINT"/>
        <result column="quote_course_id" property="quoteCourseId" jdbcType="BIGINT"/>
        <result column="scheme_id" property="schemeId" jdbcType="BIGINT"/>
        <result column="graduation_id" property="graduationId" jdbcType="BIGINT"/>
        <result column="source_graduation_id" property="sourceGraduationId" jdbcType="BIGINT"/>
        <result column="graduation_code" property="graduationCode" jdbcType="VARCHAR"/>
        <result column="graduation_name" property="graduationName" jdbcType="VARCHAR"/>
        <result column="graduation_bind_source" property="graduationBindSource" jdbcType="VARCHAR"/>
        <result column="support_desc" property="supportDesc" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sysflag" property="sysflag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, plan_id, task_background_id, scheme_course_graduation_id, quote_course_id, scheme_id,
        graduation_id, source_graduation_id, graduation_code, graduation_name, graduation_bind_source,
        support_desc, sort, creator, create_time, last_modifier, last_modified_time, remark, sysflag
    </sql>

    <select id="selectByTaskBackgroundId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_csys_teaching_plan_task_background_ref
        WHERE task_background_id = #{taskBackgroundId}
          AND sysflag = 0
        ORDER BY sort ASC, id ASC
    </select>

    <!--
        onlyNullScheme=true  -> scheme_id IS NULL（公共基础单组）
        onlyNullScheme=false + schemeId 非空 -> scheme_id = #{schemeId}
        onlyNullScheme=false + schemeId 空  -> 不过滤 scheme（plan 下全量，与 task_background 查询对齐）
    -->
    <select id="selectByPlanAndScheme" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_csys_teaching_plan_task_background_ref
        WHERE plan_id = #{planId}
          AND sysflag = 0
          <choose>
              <when test="onlyNullScheme != null and onlyNullScheme">
                  AND scheme_id IS NULL
              </when>
              <when test="schemeId != null">
                  AND scheme_id = #{schemeId}
              </when>
          </choose>
        ORDER BY task_background_id ASC, sort ASC, id ASC
    </select>

    <update id="deleteByTaskBackgroundId">
        UPDATE t_csys_teaching_plan_task_background_ref SET sysflag = 2 WHERE task_background_id = #{taskBackgroundId}
    </update>

    <update id="deleteByPlanId">
        UPDATE t_csys_teaching_plan_task_background_ref SET sysflag = 2 WHERE plan_id = #{planId}
    </update>

    <insert id="insert" parameterType="com.doinner.csys.domain.TeachingPlanTaskBackgroundRef"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_csys_teaching_plan_task_background_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="taskBackgroundId != null">task_background_id,</if>
            <if test="schemeCourseGraduationId != null">scheme_course_graduation_id,</if>
            <if test="quoteCourseId != null">quote_course_id,</if>
            <if test="schemeId != null">scheme_id,</if>
            <if test="graduationId != null">graduation_id,</if>
            <if test="sourceGraduationId != null">source_graduation_id,</if>
            <if test="graduationCode != null">graduation_code,</if>
            <if test="graduationName != null">graduation_name,</if>
            <if test="graduationBindSource != null">graduation_bind_source,</if>
            <if test="supportDesc != null">support_desc,</if>
            <if test="sort != null">sort,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lastModifier != null">last_modifier,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
            <if test="remark != null">remark,</if>
            <if test="sysflag != null">sysflag,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="taskBackgroundId != null">#{taskBackgroundId},</if>
            <if test="schemeCourseGraduationId != null">#{schemeCourseGraduationId},</if>
            <if test="quoteCourseId != null">#{quoteCourseId},</if>
            <if test="schemeId != null">#{schemeId},</if>
            <if test="graduationId != null">#{graduationId},</if>
            <if test="sourceGraduationId != null">#{sourceGraduationId},</if>
            <if test="graduationCode != null">#{graduationCode},</if>
            <if test="graduationName != null">#{graduationName},</if>
            <if test="graduationBindSource != null">#{graduationBindSource},</if>
            <if test="supportDesc != null">#{supportDesc},</if>
            <if test="sort != null">#{sort},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lastModifier != null">#{lastModifier},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="sysflag != null">#{sysflag},</if>
        </trim>
    </insert>
</mapper>
